# Eclipse
.classpath
.project
.settings/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
*.iml

# Spring Boot
/bin/
/boot/
/target/
!.mvn/wrapper/maven-wrapper.jar

# Camunda
target/classes/META-INF/maven/org.camunda.bpm/
*.camunda.spring.cfg.xml
*.camunda.cfg.xml

# Logs
logs/

# Miscellaneous
*.log
*.swp
*.tmp
*~
*.bak
*.cache
*.class
*.war
*.ear
